*{
    margin: 0;
    padding: 0;
}

.tskdetailbox1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
}
.tskdetailbox11{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tskdetailbox11 input{
    padding: 40px 40px;
    border-radius: 10px;
}
.tskdetailbox11 button{
    background-color: orange;
    color: white;
    margin-top: 30px;
}
.tskdetailbox13{
    margin-top: 30px;
}

